@charset "utf-8";
/*　管理-ログイン　*/
body {
	margin: 0 auto;
}
#box_adlogin_main{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
  	align-items: center;

}
#box_adlogin {
	border: 2px solid #ECECEF;
	background: #FFFFFF;
	width: 520px;
	border-radius: 5px;
}
.title_adlogin {
	font-size: large;
	font-weight: 700;
	line-height: 30px;
}
.title_input {
	text-align: left;
	color: #777777;
	font-size: small;
	font-weight: 700;
	margin-top: 30px;
	margin-bottom: 7px;
	margin-left: 105px;
}
.box_input_adlogin {
	position: relative;
	width: 60%;
	margin-bottom: 30px;
}
.box_input_adlogin input {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100% !important;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #aaaaaa;
	border: 1px solid #ffffff;
	box-shadow: 1px 1px 2px 0 #707070 inset;
	border-radius: 4px;
	background-color: #F6F6F7;
}
.box_input_adlogin.err input {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #aaaaaa;
	border: 1px solid #E72227;
	box-shadow: 1px 1px 2px 0 #707070 inset;
	border-radius: 4px;
	background-color: #F6F6F7;
}
.lable_input input:focus {
	outline: none;
	box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}
.err_adlogin {
	text-align: left;
	color: #E72227;
	font-size: small;
	font-weight: 700;
	margin-top: 10px;
	margin-bottom: 0px;
}

.login_btn{
	margin: 20px auto;
}

.login_btn:hover{
	opacity: 0.8;
}

/*　管理-ユーザー一覧　*/
/*　レイアウト　*/

/*　管理-当選上限数設定　*/
/*　レイアウト　*/
#container {
	display: grid;
	width: 100%;
	height: 200px;
    grid-template:
        "... ...... ...... ..." 0px
        "... left   search ..." 60px
        "... left   ...... ..."
        "... left   main   ..." 2fr
        "... left   ...... ..." 0px
        "... left   list   ..."
        "... ...... ...... ..." 0px
        / auto 240px minmax(760px, 100%) auto;
}
/*　管理-当選上限数設定：左側メニュー*/
left {
    grid-area: left;
    background-color: #171A23;
    line-height: 0px;
	flex: 1;
}
left ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
/*　管理-当選上限数設定：右側上ページタイトル*/
search {
    grid-area: search;
}
/*入力欄*/
.lable_input input:focus {
	outline: none;
	box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}
lable input {
	box-sizing: border-box;
	width: auto;
	padding: 0.3em;
	margin-left: 20px;
	margin-right: 10px;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #aaaaaa;
	border: 1px solid #ffffff;
	box-shadow: 1px 1px 2px 0 #707070 inset;
	border-radius: 4px;
	background-color: #F6F6F7;
}
input[type="text"] {
	width: 90px;
	height: 40px;
}
/*テキスト*/
.title_main_input_err {
	color: red;
	font-size: x-small;
	text-align: center;
 	margin-top: 0px;
	margin-left: 85px;
	margin-bottom: 20px;
}
.text_input{
	font-size: medium;
	font-weight: 700;
	letter-spacing: 2px;
	color: #777777;
	margin-left: 85px;
	margin-right: 35px;
}
/*　管理-当選上限数設定：メインコンテンツ*/
main {
    grid-area: main;
	box-shadow: inset 0 3px 3px -1px rgba(212,214,216,1);
    background-color: #F6F8F9;
}
.box_status_percentage_main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 2px solid #E4E8EA;
	background-color: #ffffff;
	border-radius: 4px;
	margin: 30px 20px 20px 20px;
}
.box_main_input {
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	margin-top: 20px;
	font-size: 0.9em;
	font-weight: 700;
	letter-spacing: 1px;
	color: #777777;
}
.box_main_input.err{
	color: red;
}
.input_image{
	margin-left: 120px;
}
/*テーブル設定*/
table {
	border: 1px solid #E8ECEE;
	border-collapse: separate;
	border-spacing: 0;
	border-radius: 5px;
	color: #888888;
}
table tboday th,
table tboday td {
	width: 115px;
	padding: .6em 3em;
	border-bottom: 1px solid #aaa;
	border: 1px solid #E8ECEE;
}
th {
	height: 30px;
	background-color: #818A93;
	border-left: 1px solid #E8ECEE;
	font-size: x-small;
	font-weight: normal;
	color: #e6e6e6;
}
td {
	background-color: #F7F8FA;
	border-left: 1px solid #E8ECEE;
	font-size: x-small;
	font-weight: bold;
	text-align: center;
	height: 40px;
}
table tbody tr:first-child th:first-child {
	border-radius: 4px 0 0 0;
}
table tbody tr:first-child th:last-child {
	border-radius: 0 4px 0 0;
}
table tbody tr:last-child th:first-child {
	border-radius: 0 0 0 4px;
}
table tbody tr:last-child th:last-child {
	border-radius: 0 0 4px 0;
}
.box_main_btn {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-top: 30px;
	margin-bottom: 40px;
}

